.container {
  background-image: url("../../public/assets/imageThre.jpg");
  height: 60vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
}

.special {
  font-size: 22px;
  color: #fff;
  z-index: 999;
  font-weight: 600;
  font-style: italic;
}

.container h2 {
  color: white;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.container > p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 1;
  margin: 10px 0px;
}
