.counterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe7e6;
  justify-content: center;
  padding: 40px 20px;
}

.counterWrapper {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
}

.counterContainer > h2 {
  text-align: center;
  color: #232323;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 700;
}

.counterItem {
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ef4036;
  transition: transform 0.3s ease;
}

.counterNumber {
  font-size: 45px;
  font-weight: bold;
  color: #232323;
}

.counterLabel {
  font-size: 16px;
  color: #232323;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.plus {
  color: #232323;
}

.partnerBtn {
  margin-top: 30px;
  padding: 14px 28px;
  background-color: #ef4036;
  color: #ffffff;
  border: none;
  border-radius: 38px;
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .counterWrapper {
    gap: 40px;
  }

  .counterItem {
    padding: 30px 40px;
  }

  .counterNumber {
    font-size: 48px;
  }

  .counterLabel {
    font-size: 16px;
  }
}
