.counterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  justify-content: center;
  padding: 40px 20px;
}

.counterWrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: 2fr 2fr 2fr;
  justify-content: center;
  max-width: 1200px;
}

.counterContainer > h2 {
  text-align: center;
  color: #232323;
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
}

.counterItem {
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ef4036;
  transition: transform 0.3s ease;
}

.counterNumber {
  font-size: 45px;
  font-weight: bold;
  color: #232323;
}

.counterLabel {
  font-size: 14px;
  width: 200px;
  margin: 0 auto;
  color: #232323;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.plus {
  color: #232323;
}

.partnerBtn {
  margin-top: 30px;
  padding: 14px 28px;
  background-color: #ef4036;
  color: #ffffff;
  border: none;
  border-radius: 38px;
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .counterWrapper {
    gap: 20px;
    grid-template-columns: 2fr 2fr;
  }
  .counterItem {
    padding: 0px;
  }

  .counterContainer > h2 {
    font-size: 40px;
    line-height: 1.2;
  }
  .counterNumber {
    font-size: 35px;
  }

  .counterLabel {
    font-size: 12px;
  }
}
