.section {
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 80px 0px;
}

.colOne {
  width: 50%;
  padding: 20px;
}

.colOne h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.colOne p {
  font-size: 16px;
  line-height: 1.6;
  width: 90%;
}

.colTwo {
  width: 50%;
}

.imageStory {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.learnMoreButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ef4036;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 40px 20px;
    flex-direction: column-reverse;
  }

  .container > p {
    text-align: left;
  }

  .colOne,
  .colTwo {
    width: 100%;
    padding: 0px 0px 30px 0px;
  }

  .colOne h2 {
    font-size: 36px;
  }

  .colOne p {
    width: 100%;
    text-align: left;
  }

  .colTwo {
    margin-top: 30px;
  }
}
