@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "ubuntu", sans-serif;
    font-weight: 700;
    /* color: #000000; */
  }
  font-family: "montserrat", sans-serif;
  scroll-behavior: smooth;
}
