.contentContain {
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0px;
  background-color: #f4f4f4;
}

.rowOne {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  gap: 20px;
}

.colOne h2 {
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #ef4036;
}

.colTwo h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #000000;
}

.container p {
  padding: 1% 0px;
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
    text-align: left;
  }

  .container p {
    text-align: left;
  }

  .rowOne {
    flex-direction: column;
    text-align: center;
    gap: 10px;
    align-items: flex-start;
  }

  .colOne h2 {
    font-size: 50px;
    margin: 0px;
    text-align: left;
  }

  .colTwo h2 {
    font-size: 25px;
    text-align: left;
  }
}
